EXPO_PUBLIC_APP_SCHEME=signtalk
EXPO_PUBLIC_ENVIRONMENT=development
EXPO_PUBLIC_DEVICE_ID=uno-q-demo
# Change 192.168.1.50 to the LAN IP of the Arduino UNO Q.
EXPO_PUBLIC_EDGE_AI_URL=http://192.168.1.50:8082
